<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f1baf5">  <td>20/11/01 18:12:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryAnalyzer.Test1()[pri:0, instance:com.examples.test.RetryAnalyzer@4e268090]">Test1</td> 
  <td>main@1297836716</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>20/11/01 18:12:41</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryAnalyzer.Test2()[pri:0, instance:com.examples.test.RetryAnalyzer@4e268090]">Test2</td> 
  <td>main@1297836716</td>   <td></td> </tr>
<tr bgcolor="f1baf5">  <td>20/11/01 18:12:41</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryAnalyzer.Test3()[pri:0, instance:com.examples.test.RetryAnalyzer@4e268090]">Test3</td> 
  <td>main@1297836716</td>   <td></td> </tr>
</table>
