<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="919fcc">  <td>20/11/01 18:15:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReporterTest.test1()[pri:0, instance:com.examples.test.ReporterTest@1bb266b3]">test1</td> 
  <td>main@1833848849</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>20/11/01 18:15:53</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReporterTest.test2()[pri:0, instance:com.examples.test.ReporterTest@1bb266b3]">test2</td> 
  <td>main@1833848849</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>20/11/01 18:15:53</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ReporterTest.test3()[pri:0, instance:com.examples.test.ReporterTest@1bb266b3]">test3</td> 
  <td></td>   <td></td> </tr>
</table>
